Redirect 301 /2014/05/05/avoiding-kernel-modules-when-external-firmware-is-needed/ https://klimer.eu/posts/avoiding-kernel-modules-when-external-firmware-is-needed/
Redirect 301 /2014/08/27/testing-gwteventbinder-with-gwtmockito/ https://klimer.eu/posts/testing-gwteventbinder-with-gwtmockito/
Redirect 301 /2014/08/28/testing-asynchronous-gwt-rpc-services/ https://klimer.eu/posts/testing-asynchronous-gwt-rpc-services/
Redirect 301 /2014/09/22/activities-places-and-the-visitor-pattern/ https://klimer.eu/posts/activities-places-and-the-visitor-pattern/
Redirect 301 /2015/05/01/use-midnight-commander-like-a-pro/ https://klimer.eu/posts/use-midnight-commander-like-a-pro/
Redirect 301 /2024/07/06/migrating-from-create-react-app-to-vite/ https://klimer.eu/posts/migrating-from-create-react-app-to-vite/
